.content-user div{
font-size: 12px;
}
.content-user{
    display: block;
    margin-right: 5%;
    
}
.user-img{
    display: block;
    margin-right: 5%;
}
.nav-user{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.img-profile{
    font-size: 30px;
    margin-top: 13px;
}
.name-user{
    font-size: 12px;
    margin-left: 3px;
    margin-top: -5px;
}