.mat-card-header{

}

.blog-content{
min-width: 100%;
margin-bottom: 3%;
}

.blog-info{
    
}

.avatar-icon{
    margin-top: -10px;
    font-size: 38px;
}

.line-header{
    margin-top: -5px;
    color: #808484;
    width: 90%;
}