.content{
   /* display: flex;
    align-items: center;
    justify-content: center;*/
    
}


  .item-blog{
      width: 80%;
      margin-top: 5%;
  }

  .new-blog{
      width: 80%;
  }
  .content-blogs{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content-blogs div{
    width: 80%;
  }