
    <div class="content">
        <mat-card class="new-blog-content">
            <mat-card-header>
              <div mat-card-avatar>
                <mat-icon class="avatar-icon">description</mat-icon> 
              </div>
              <mat-card-title>Nuevo artículo</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <textarea placeholder="En que estas pensando!"  rows="5" [(ngModel)]="contentText"></textarea>
            </mat-card-content>
            <mat-card-actions class="mat-actions" style=" display: flex; justify-content: flex-end; font-size: 6px;">
                <button mat-raised-button color="primary" (click)="saveBlog()">Aceptar</button>
            </mat-card-actions>
        </mat-card>
    </div>
    
    

