.content{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-container{
 width: 80%;

}
.mat-table-user{
    width: 80%;
}

/* Structure */
table {
    width: 100%;
 
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .mat-raised-button{
    color: white;
    background-color: #28B463 ;
  }